.DS_Store
build/
DerivedData/
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xcuserstate
.swiftpm/
DerivedData/
build/
*.xcodeproj
*.o
*.d
*.swiftdeps
*.dia
*.swiftconstvalues
